[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.7"
django-crispy-forms = "*"
django-taggit = "*"
django-tex = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
