/* Django crispy forms: hide asterisk for required fields because all fields are required */
.asteriskField {
    display: none;
}

a.title-link {
  color: black;
}

.btn-round {
  border-radius: 50px;
}

.icon-left {
  margin-left: 0.7rem;
}

@media (min-width: 576px) {
  .form-horizontal .col-form-label {
	text-align: right;
  }
}

