body {
    background-color: #fafafa;
}

/* Django crispy forms: hide asterisk for required fields because all fields are required */
.asteriskField {
    /*display: none;*/
    color: #dc3545;
}

.btn-round {
    border-radius: 50px;
}

.icon-left {
    margin-left: 0.7rem;
}

@media (min-width: 576px) {
    .form-horizontal .col-form-label {
        text-align: right;
    }
}

.card-body > p:last-child {
    margin-bottom: 0;
}

.rating-bar-container {
    border-radius: 30px;
    height: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.rating-bar {
    border-radius: 30px;
}

.comment > p {
    margin-bottom: 0;
}

.card {
    border-radius: 0.5rem;
}

.cardlink {
    border: none;
    box-shadow: 0px 5px 10px 0 rgba(32,33,36, 0.1);
    transition: 0.3s;
}

.cardlink:hover {
    box-shadow: 0px 10px 20px 0 rgba(32,33,36, 0.15);
}

.stickydiv {
    position: sticky;
    top: 1.5rem;
    transition: top 0.35s ease;
}

.tag {
    display: inline-block;
    border-radius: 5rem;
    font-size: 0.875rem;
    background-color: #17a2b8;
    color: white;
    padding: 0.125rem 0.25rem 0.25rem 0.875rem;
    margin: 0 0.4rem 0.4rem 0;
    white-space: nowrap;
}

.tag > i {
    padding: 0.5rem;
    opacity: 0.7;
    line-height: 0.5rem;
    position: relative;
    top: 1px;
}

.tag > i:hover {
    opacity: 1;
}

#tagContainer {
    display: flex;
    flex-wrap: wrap;
}

#inputContainer {
    display: inline-block;
    flex: 1 1 250px;
}

#tagInput {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
    width: 100%;
}


/* Copied from Bootstrap */
.mydropdown {
  position: relative;
}

.mydropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.mydropdown-menu.show {
    display: block;
}

.mydropdown-item {
  display: block;
  padding: 0.25rem 1rem;
  white-space: nowrap;
  font-size: 0.875rem;
}

.mydropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.mydropdown-item.active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

