{% extends 'base.html' %}

{% block content %}

<div class="clearfix mb-3">
  <h2 class="float-left">All Problems</h2>
  <a href="{% url 'new_problem' %}" class="btn btn-primary btn-lg btn-round float-right">
	  <i class="fas fa-plus"></i><span class="d-none d-sm-inline" style="margin-left: 0.7rem;">New Problem</span>
  </a>
</div>

<div class="row">
  <div class="col-md-4">
	Search
  </div>

  <div class="col-md-8">
	<div class="card-deck-wrapper">
	  {% for problem in problem_list %}
	    <div class="card">
		  <div class="card-body">
			<h4 class="card-title">
			  <a href="{% url 'problem_detail' problem.id %}" class="stretched-link title-link">
				{{ problem.title }}
			  </a>
			</h4>
			{{ problem.problem_text }}
		  </div>
		</div>
	  {% endfor %}
	</div>
  </div>
</div>

{% endblock %}
