{% extends 'base.html' %}

{% block content %}

<div class="row mb-3">
  <div class="col">
    <h2>
  	  {% url 'all_problems' as url_all %}
	  {% if request.get_full_path == url_all %}
	    All Problems
	  {% else %}
	    My problems
	  {% endif %}
	</h2>
  </div>
  {% if user.is_writer or user.is_staff %}
    <div class="col-auto">
      <a href="{% url 'new_problem' %}" class="btn btn-primary btn-lg btn-round">
	    <i class="fas fa-plus"></i><span class="d-none d-sm-inline icon-left">New Problem</span>
      </a>
    </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-4">
	Search and Filter (not implemented yet)
  </div>

  <div class="col-md-8">
	<div class="card-deck-wrapper">
	  {% if problem_list %}
	    {% for problem in problem_list %}
	      <div class="card">
		    <div class="card-body">
			  <h4 class="card-title">
			    <a href="{% url 'problem_detail' problem.id %}" class="stretched-link title-link">
				  {{ problem.title }}
				</a>
			  </h4>
			  {{ problem.tag_list_text }}
			  <br>
			  {{ problem.problem_text|linebreaks }}
		    </div>
		  </div>
	    {% endfor %}
	  {% else %}
	    {{ empty_message }}
	  {% endif %}
	</div>
  </div>
</div>

{% endblock %}
