{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}
{% load my_filters %}
{% load static %}

{% block content %}
<div class="row mb-3">
  <div class="col">
    <h2>{{ problem.title|escapedollars }}</h2>
  </div>
  {% if user.is_staff or user == problem.author %}
    <div class="col-auto">
      <a href="{% url 'edit_problem' problem.id %}" class="btn btn-primary btn-lg btn-round">
	    <i class="fas fa-edit"></i><span class="d-none d-sm-inline icon-left">Edit Problem</span>
      </a>
    </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-lg-7 col-xl-6">
    <div id="stickydiv" class="stickydiv">
	<div class="card mb-4">
	  <div class="card-body">
        {{ problem.problem_text|linebreaks }}
		<p class="card-text text-muted text-right">Proposed by {{ problem.author }}</p>
	  </div>
	</div>

    {% if problem.answer %}
	<div class="accordion" id="accordionAnswer">
	  <div class="card mb-4">
		<div class="card-header">
			<h5 class="mb-0"><a href="#collapseAnswer" class="stretched-link text-reset text-decoration-none collapsed" data-toggle="collapse">Answer</a></h5>
		</div>
		<div id="collapseAnswer" class="collapse" data-parent="#accordionAnswer">
		  <div class="card-body">
			{{ problem.answer|linebreaks }}
		  </div>
		</div>
	  </div>
	</div>
    {% endif %}

    {% if problem.solution %}
	<div class="accordion" id="accordionSolution">
	  <div class="card mb-4">
		<div class="card-header">
          <h5 class="mb-0"><a href="#collapseSolution" class="stretched-link text-reset text-decoration-none collapsed" data-toggle="collapse">Solution</a></h5>
		</div>
		<div id="collapseSolution" class="collapse" data-parent="#accordionSolution">
		  <div class="card-body">
			{{ problem.solution|linebreaks }}
		  </div>
		</div>
	  </div>
	</div>
    {% endif %}
    </div>
  </div>

  <div class="col-lg-5 col-xl-6">
	<div class="card mb-4">
	  <div class="card-body">
		<div class="row mb-3">
		  {% if current_rating %}
		    <div class="col">
			  <span class="">Average Difficulty</span><br/>
			  <h4>{{ problem.avg_diff_text }}</h4>
			  <div class="row">
			    <div class="col-auto" style="font-size: 14px;">
			    {% for text in diff_text %}
				  {{ text }}<br/>
			    {% endfor %}
			    </div>
			    <div class="col px-0">
			    {% for p, c in diff_percent_color %}
				  <div class="progress rating-bar-container">
					<div class="progress-bar rating-bar" role="progressbar" style="width: {{ p }}%; background-color: {{ c }};"></div>
				  </div>
			    {% endfor %}
			    </div>
			    <div class="col-auto" style="font-size: 14px;">
			    {% for freq in diff_freq %}
			      {{ freq }}<br/>
			    {% endfor %}
			    </div>
			  </div>
		    </div>
		    {% if user.is_staff %}
			<hr class="w-100 d-sm-none d-lg-block d-xl-none"/>
		    <div class="col">
			  <span class="">Should it be on the contest?</span><br/>
			  <h4>{{ problem.avg_qual_text }}</h4>
			  <div class="row">
			    <div class="col-auto" style="font-size: 14px;">
			    {% for text in qual_text %}
				  {{ text }}<br/>
			    {% endfor %}
			    </div>
			    <div class="col px-0">
			    {% for p, c in qual_percent_color %}
				  <div class="progress rating-bar-container">
					<div class="progress-bar rating-bar" role="progressbar" style="width: {{ p }}%; background-color: {{ c }};"></div>
				  </div>
			    {% endfor %}
			    </div>
			    <div class="col-auto" style="font-size: 14px;">
			    {% for freq in qual_freq %}
			      {{ freq }}<br/>
			    {% endfor %}
			    </div>
			  </div>
			</div>
	        {% endif %}
		  {% else %}
		  <div class="col">
			You haven't rated this problem yet.
		  </div>
		  {% endif %}
		</div>
		<div class="row justify-content-center">
	      <div class="col-auto">
			<button type="button" class="btn btn-info" onclick="setChecked()" data-toggle="modal" data-target="#ratingModal">{% if current_rating %}Change Rating{% else %}Rate Problem{% endif %}</button>
	      </div>
		</div>
	  </div>
	</div>

    <div class="mb-3">
      <form autocomplete="off" method="POST" id="tagForm">
        {% csrf_token %}
        <div id="tagContainer">
          <div class="mydropdown" id="inputContainer">
            <input class="mydropdown-toggle" id="tagInput" type="text" placeholder="Add Tag" maxlength="20" data-display="static">
            <div id="dropdown" class="mydropdown-menu"></div>
          </div>
          <input type="hidden" name="tagText" value="" id="tagText">
        </div>
      </form>
    </div>

    <h3>Comments</h3>
    {% if comment_list %}
      {% for comment in comment_list %}
        <div class="comment mb-3" id="comment{{ comment.id }}">
          <div class="row mb-2">
            <div class="col">
              <span class="font-weight-bold">{{ comment.author }}</span><br/>
              <span class="text-muted" style="font-size: 0.875rem;">{{ comment.creation_time|naturaltime }}</span>
            </div>
            <div class="col-auto">
              {% if user == comment.author or user.is_staff %}
                <a href="#" onclick="toggleForm({{ comment.id }}); return false;" class="btn btn-light commentEdit">Edit</a>
              {% endif %}
            </div>
          </div>
          {{ comment.text|safe }}
        </div>
        <div class="mb-3" id="editFormContainer{{ comment.id }}" style="display: none;">
          <form method="post" id="editForm{{ comment.id }}">
            {% csrf_token %}
            <div class="mb-3" id="editor{{ comment.id }}" style="height: 200px;">
              {{ comment.text|safe|escapedollars }}
            </div>
            <textarea class="d-none" name="text" id="hiddenArea{{ comment.id }}"></textarea>
            <input type="hidden" name="commentID" value="{{ comment.id }}">

            <button type="button" class="btn btn-secondary" onclick="toggleForm({{ comment.id }})">Cancel</button>
            <button type="submit" name="submit" class="btn btn-primary float-right" value="editComment">Save Changes</button>
          </form>
        </div>
        <hr/>
      {% endfor %}
    {% else %}
	<p>No comments yet</p>
    {% endif %}

    <div id="commentNew">
      <button type="button" class="btn btn-primary" onclick="toggleForm('New')">Add Comment</button>
    </div>

    <div id="editFormContainerNew" style="display: none;">
      <form method="post" id="editFormNew">
        {% csrf_token %}
        <div class="mb-3" id="editorNew" style="height: 200px;"></div>
        <textarea class="d-none" name="text" id="hiddenAreaNew"></textarea>

        <button type="button" class="btn btn-secondary" onclick="toggleForm('New')">Cancel</button>
        <button type="submit" name="submit" class="btn btn-primary float-right" value="newComment">Add Comment</button>
      </form>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete this problem? This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
		<form method="post">
		  {% csrf_token %}
          <button type="submit" class="btn btn-danger" name="submit" value="delete">Delete</button>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ratingModalLabel">Rate Problem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form method="post" id="ratingForm">
		  {% csrf_token %}
		  <p>How difficult is this problem?</p>
		  <div class="container mb-3 difficulty">
		    <div class="row flex-nowrap" style="overflow-x: auto;">
			  <div class="col-auto px-0 ml-auto">
			    <label class="pr-2">
				  <p class="mb-2">Easy - Mid AMC</p>
				  <input type="radio" class="d-block mx-auto" value="1" name="diff" required>
			    </label>
			  </div>
			  <div class="col-auto px-0">
			    <label class="px-2">
				  <p class="mb-2">Easy AIME</p>
				  <input type="radio" class="d-block mx-auto" value="2" name="diff">
			    </label>
			  </div>
			  <div class="col-auto px-0">
			    <label class="px-2">
				  <p class="mb-2">Mid AIME</p>
				  <input type="radio" class="d-block mx-auto" value="3" name="diff">
			    </label>
			  </div>
			  <div class="col-auto px-0">
			    <label class="px-2">
				  <p class="mb-2">Hard AIME</p>
				  <input type="radio" class="d-block mx-auto" value="4" name="diff">
			    </label>
			  </div>
			  <div class="col-auto px-0 mr-auto">
			    <label class="pl-2">
				  <p class="mb-2">USAMO</p>
				  <input type="radio" class="d-block mx-auto" value="5" name="diff">
			    </label>
			  </div>
			</div>
		  </div>
		  <hr/>

		  <p>Should this be on the contest?</p>
		  <div class="container quality">
		    <div class="row flex-nowrap" style="overflow-x: auto;">
			  <div class="col-auto px-0 ml-auto">
			    <label class="pr-2">
				  <p class="mb-2">Definitely</p>
				  <input type="radio" class="d-block mx-auto" value="2" {% if current_rating.quality == 2 %}checked{% endif %} name="qual" required>
			    </label>
			  </div>
			  <div class="col-auto px-0">
			    <label class="px-2">
				  <p class="mb-2">Yes</p>
				  <input type="radio" class="d-block mx-auto" value="1" {% if current_rating.quality == 1 %}checked{% endif %} name="qual">
			    </label>
			  </div>
			  <div class="col-auto px-0">
			    <label class="px-2">
				  <p class="mb-2">Unsure</p>
				  <input type="radio" class="d-block mx-auto" value="0" {% if current_rating.quality == 0 %}checked{% endif %} name="qual">
			    </label>
			  </div>
			  <div class="col-auto px-0">
			    <label class="px-2">
				  <p class="mb-2">No</p>
				  <input type="radio" class="d-block mx-auto" value="-1" {% if current_rating.quality == -1 %}checked{% endif %} name="qual">
			    </label>
			  </div>
			  <div class="col-auto px-0 mr-auto">
			    <label class="pl-2">
				  <p class="mb-2">Definitely not</p>
				  <input type="radio" class="d-block mx-auto" value="-2" {% if current_rating.quality == -2 %}checked{% endif %} name="qual">
			    </label>
			  </div>
			</div>
		  </div>
          <input type="reset" id="resetRatings" class="d-none">
		</form>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-info" form="ratingForm" name="submit" value="rate">{% if current_rating %}Save Changes{% else %}Rate{% endif %}</button>
      </div>
    </div>
  </div>
</div>

<script>
var toolbarOptions = [
    [{ 'size': ['small', false, 'large'] }],  // custom dropdown
    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'align': [] }],


    ['blockquote', 'code-block', 'link'],

    ['clean']                                         // remove formatting button
];

var quills = {
    {% for comment in comment_list %}
    {{ comment.id }}: new Quill("#editor{{ comment.id }}", {
        modules: { toolbar: toolbarOptions },
        theme: "snow"
    }),
    {% endfor %}
    "New": new Quill("#editorNew", {
        modules: { toolbar: toolbarOptions },
        theme: "snow"
    }),
};

$(function() {
    for (const id in quills) {
        $("#editForm" + id).on("submit", function(){
            $("#hiddenArea" + id).val(quills[id].container.querySelector('.ql-editor').innerHTML);
        })
    }
})

function toggleForm(id) {
    var comment = document.getElementById("comment" + id);
    var editor = document.getElementById("editFormContainer" + id);
    if (editor.style.display == "none") {
        comment.style.display = "none";
        editor.style.display = "block";
    } else {
        comment.style.display = "block";
        editor.style.display = "none";
    }
}

function setStickyTop() {
    var div = document.getElementById("stickydiv");
    div.style.top = Math.min(remToPx(1.5), window.innerHeight - div.clientHeight - remToPx(1.5)) + "px";
    console.log(div.style.top);
}

function remToPx(rem) {    
    return rem * parseFloat(getComputedStyle(document.documentElement).fontSize);
}

$(".collapse").on("show.bs.collapse", function() {
    this.style.display = "block";
    setStickyTop();
    this.style.display = "";
})

$(".collapse").on("hide.bs.collapse", function() {
    this.style.height = "0";
    setStickyTop();
    this.style.height = "";
})

var currentDiff = "{{ current_rating.difficulty }}";
var currentQual = "{{ current_rating.quality }}";

function setChecked() {
    if (currentDiff == "") {
        $("#resetRatings").click();
    } else {
        diffInputs = document.querySelectorAll(".difficulty input");
        for (let i = 0; i < diffInputs.length; i++) {
            if (diffInputs[i].value == currentDiff)
                diffInputs[i].checked = true;
        }
        qualInputs = document.querySelectorAll(".quality input");
        for (let i = 0; i < qualInputs.length; i++) {
            if (qualInputs[i].value == currentQual)
                qualInputs[i].checked = true;
        }
    }
}
</script>

<script>
var initialTags = [
    {% for tag in tag_list %}
    "{{ tag.name }}",
    {% endfor %}
];

var arr = [
    {% for tag in all_tags %}
    "{{ tag.name }}",
    {% endfor %}
];
</script>

<script src="{% static 'js/tags.js' %}"></script>
<script src="{% static 'js/ajax_security.js' %}"></script>

{% endblock %}
