{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<script>
	data = {{ data|safe }};
	$(document).ready( function () {
    	$('#problems').DataTable({
			data: data,
			orderFixed: [],
			select: {
			},
			rowReorder: {
				dataSrc: 'id'
			},
			columns: [
				{ data: 'id', orderable: false },
				{ data: 'subject', orderable: false},
				{ data: 'title', orderable: false },
				{ data: 'problem_text', orderable: false },
				{ data: 'solution', orderable: false }
			],
			searchPanes: {
				displayColumns: 2
			},
			dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
				"<'row'<'col-lg-4'P><'col-lg-8'tr>>" +
				"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" + 
				"<'row'B>",
			buttons: [
				{
					action: function ( e, dt, node, config ) {

						$('#id_problem_list').val(JSON.stringify(dt.rows( { selected: true } ).data().toArray()));
						$('#selected_problems').submit();
						/*
                		var selected = {problem_list: JSON.stringify(dt.rows( { selected: true } ).data().toArray())};
						var pdf = $.ajax({
							url: window.location,
							data : selected,
							method : 'POST',
							headers: {'X-CSRFToken': '{{ csrf_token }}'},
							success: function (data) { 
								var blob=data;
								var link=document.createElement('a');
								link.href=window.URL.createObjectURL(blob);
								link.download="test.pdf";
								link.click();
				
							},
							error: function (data) { 
								var w = window.open('about:blank');
								w.document.open();
								w.document.write(data.responseText);
								w.document.close(); 
							}
						});
						*/
						
            		},
            		extend: 'selected',
            		text: 'Export to PDF'
        		}
			]
		});
		var dt = $('#problems').DataTable();
		/*
		$('#submit-id-to_pdf').submit(function () {
			$('#id_problem_list').val(JSON.stringify(dt.rows( { selected: true } ).data().toArray()));
		} );
		*/
		MathJax.typeset()
	} );
</script>
<div class="row mb-3">
	<div class="col">
		<h2>
			{% url 'all_problems' as url_all %}
			{% if request.get_full_path == url_all %}
			All Problems
			{% else %}
			My problems
			{% endif %}
		</h2>
	</div>
	{% if user.is_writer or user.is_staff %}
	<div class="col-auto">
		<a href="{% url 'new_problem' %}" class="btn btn-primary btn-lg btn-round">
			<i class="fas fa-plus"></i><span class="d-none d-sm-inline icon-left">New Problem</span>
		</a>
	</div>
	{% endif %}
</div>

       <table id="problems" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Title</th>
                <th>Problem</th>
                <th>Solution</th>
            </tr>
		</thead>
		<tbody>
		</tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Title</th>
                <th>Problem</th>
                <th>Solution</th>
            </tr>
		</tfoot>
		
	</table> 

		{% crispy form %}


{% endblock %}
