{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row mb-3">
  <div class="col">
    {% url 'all_problems' as url_all %}
    <h2>
    {% if request.get_full_path == url_all %}
      All Problems
    {% else %}
      My problems
    {% endif %}
    </h2>
  </div>

  {% if user.is_writer or user.is_staff %}
  <div class="col-auto">
    <a href="{% url 'new_problem' %}" class="btn btn-primary btn-lg btn-round">
      <i class="fas fa-plus"></i><span class="d-none d-sm-inline icon-left">New Problem</span>
    </a>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-4 mb-3">
    Search, filter, and sort: coming soon!
  </div>
  <div class="col-md-8">
    <div class="card-deck-wrapper">
      {% if problem_list %}
        {% for problem in problem_list %}
          {% include 'includes/problem_card.html' %}
        {% endfor %}
      {% else %}
        {{ empty_message }}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
